.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 100%;
    color: #ffffff;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .logo{
    width: 70%;
  }
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 30px;
    cursor: pointer;
  }
  /* Custom Code */

  .nav-item {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    height: 100px;
  }
  
  .hidden {
    overflow: hidden;
    height: 0;
    position: absolute;
    top: 100%;
    display: grid;
    justify-items: flex-start;
    background-color: #1b1a1a;
    padding-left: 10px;
    padding-right: 10px;
    
  }
.nav-item::after {
  content: "";
  width: 0px;
  height: 3px;
  background: #f47121;
  position:absolute;
  left: 0;
  bottom: 30px;
  margin-left: 15px;
  transition: 0.3s all ease;
}
.nav-item.active-link:hover::after{
    width: 30px;
  }
  .nav-item:hover .hidden {
    height: max-content;
    width: max-content;

  }
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  #nav-links{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: flex;
    
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 1px;
    list-style: none;
    text-align: center;
    width: 110vw;
    justify-content: end;
    margin-right: 2rem;
  }
  

  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    color: #f47121;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #1888ff;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #1888ff;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #1888ff;
      transition: 250ms;
    }
  
    button {
      display: none;
    }
  }
  